<script setup lang="ts">
import { computed, type PropType } from 'vue';

interface Option {
  text: string,
  value: unknown
}

const props = defineProps({
  modelValue: {
    type: [String, Boolean],
    default: ''
  },
  options: {
    type: Array as PropType<Option[]>,
    required: true
  },
  label: {
    type: String,
    default: 'Filter by'
  }
})

const emit = defineEmits(['update:modelValue'])

const data = computed({
  get: () => {
    return props.modelValue
  },
  set: (value) => {
    emit('update:modelValue', value)
  },  
})

</script>
<template>
  <div class="filter-dropdown">
    <label for="countries" class="filter-dropdown__label">{{label}}: </label>
    <select v-model="data" id="countries" class="filter-dropdown__select">
      <option v-for="option, index in options" :key="index" :value="option.value">{{ option.text }}</option>
    </select>
  </div>
</template>
<style lang="scss" scoped>
.filter-dropdown {
  &__label {
      @apply block mb-2 text-sm font-medium text-gray-900;
  }
  
  &__select {
      @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }
}
</style>