<script setup lang="ts">
import { ref } from 'vue';

const emit = defineEmits<{
  (e: 'submit', value: string): void
}>()

const data = ref<string>('')

const submitForm = () => {
    emit('submit', data.value)
    data.value = ''
}
</script>
<template>
    <form @submit.prevent="submitForm">
        <div class="relative">
            <input required v-model="data" type="text" name="input"
                class="block w-full p-4 pl-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-red-500 focus:border-red-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500 border-transparent focus:border-transparent focus:ring-0"
                placeholder="Type any todo...">
            <button type="submit"
                class="text-white absolute right-2.5 bottom-2.5 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Add</button>
        </div>
    </form>
</template>
<style lang="scss" scoped></style>