<script setup lang="ts">
import FilterDropdown from '../molecules/FilterDropdown.vue'
import InputForm from '../molecules/InputForm.vue'

import { useTodoStore } from "@/stores/todo";
import { computed, markRaw, ref } from 'vue';

const filterBy = ref<boolean | string>('')
const statusOptions = markRaw([
    {
        text: 'All',
        value: ''
    },
    {
        text: 'Not Finished',
        value: false
    },
    {
        text: 'Done',
        value: true
    }
])

const { todos, add } = useTodoStore()

const saveTodo = (text: string) => {
  add({
    id: Math.random(),
    text,
    isDone: false
  })

  alert('Sukses Simpan Todo')
}

const filteredTodos = computed(() => {
  if (typeof filterBy.value === 'boolean') {
    return todos.filter(todo => todo.isDone === filterBy.value)
  }
  return todos
})



</script>
<template>
    <div class="content-wrapper">
        <div class="mx-auto max-w-md">
            <h1 class="content-wrapper__title">Privy Todolist</h1>
            <hr class="my-4" />

            <FilterDropdown :options="statusOptions" v-model="filterBy"/>
            <ul v-if="filteredTodos.length" class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400 my-5">
                <li v-for="todo in filteredTodos" :key="todo.id" class="flex items-center">
                    <svg v-if="todo.isDone" class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <div class="w-full flex items-baseline justify-between">
                        <p class="text-lg">{{ todo.text }}</p>
                        <input id="default-checkbox" type="checkbox" v-model="todo.isDone"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                    </div>
                </li>
            </ul>
            <div v-else class="h-20 flex items-center justify-between">
                <p class="text-center w-full">No todos here!</p>
            </div>
            <InputForm name="text" @submit="saveTodo"/>
        </div>
    </div>
</template>
<style lang="scss">
.content-wrapper {
    @apply relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10 lg:w-1/2 w-3/4;

    &__title {
        @apply text-red-500 text-lg font-bold text-center;
    }
}
</style>
