<script setup lang="ts">
import CardTodos from "@/components/organisms/CardTodos.vue";
</script>

<template>
  <div class="page-wrapper">
    <img src="@/assets/logo_privy.jpeg" alt="" class="page-wrapper__background" width="1308" />
    <div class="page-wrapper__background__gradient">
    </div>
    <!-- Organism -->
    <CardTodos />
  </div>
</template>

<style lang="scss" scoped>
.page-wrapper {
  @apply relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12;

  &__background {
    @apply absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2 blur-3xl;

    &__gradient {
      @apply absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))];
    }
  }
}
</style>